@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(to top, rgb(0, 117, 111), rgb(164, 18, 201)); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_card {
  border-radius: 15px;
  background-color: rgba(172, 172, 172, 0.363);
  width: 550px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0 2px 4px 1px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.yin_logo {
  width: 125px;
}

h1 {
  padding: 1rem 0 1rem 0;
  text-align: center;
}

::placeholder {
  color: rgba(87, 87, 87, 0.5);
}

input {
  border-radius: 100px;
  border: none;
  padding: 1rem;
  width: 75%;
  font-size: 1rem;
  font-weight: 500;
}

.password_input,
.email_input {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid.fa-lock,
.fa-solid.fa-user {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.remember_me {
  display: flex;
  text-align: center;
}

.rm {
  padding-right: 1rem;
  padding-left: .5rem;
  font-size: 1rem;
  font-weight: 500;
}

.check {
  width: 15px;
}

.fmp {
  padding-left: 3rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.fmp:hover {
  background-image: linear-gradient(to right, rgb(10, 13, 218), rgba(54, 0, 202, 0.90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.5s ease-in-out;
}

.sign_in {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.sign_btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: .5rem 2rem;
  color: black;
  transition-duration: 500ms;
  transition-property: background;
  transition: 500ms ease;
  text-transform: uppercase;
}

.sign_btn:hover {
  transform: translateY(2px);
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(10, 13, 218), rgba(54, 0, 202, 0.60));
  color: white;
}

.create_acc {
  margin-top: 1rem;
}

.login_with {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}


.cfa {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
}

.cfa:hover {
  text-decoration: underline;
  background-image: linear-gradient(to right, rgb(10, 13, 218), rgba(54, 0, 202, 0.90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.google_logo,
.facebook_logo {
  text-decoration: none;
}

.fa-brands.fa-google:hover {
  transform: translateY(2px);
  cursor: pointer;
  transition: .25s ease;
}

.fa-brands.fa-facebook:hover {
  transform: translateY(2px);
  cursor: pointer;
  transition: .25s ease;
}

.fa-brands.fa-facebook,
.fa-brands.fa-google {
  margin-right: 1.25rem;
  font-size: 2.5rem;
  color: white;
}
